MONGODB_URI=mongodb+srv://pranavparmar1809_db_user:2YdrU4GRDBbDc69Y@cluster0.icxn6gj.mongodb.net/harisumiran?retryWrites=true&w=majority
NEXT_PUBLIC_APP_NAME="HariSumiran"
NEXT_PUBLIC_MANDIR_NAME="HariPrabodham, Nadiad"
NEXT_PUBLIC_APP_URL=http://localhost:3000
